@charset "utf-8";
/********************************************* 
******
******           common start
******
/*********************************************/
html {width:100%;height:100%;margin:0}
body {position:relative;font-size:12px;font-family:"dotum";color:#515151;margin:0; padding:0;width:100%; height: 100%; }
h1,h2,h3,h4,h5,h6,ol,ul,li,form,fieldset,input,select,textarea,p,th,td,dt,dd,dl,p {margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size:12px;}
li {list-style-type:none;}
img,fieldset {border:0;}
em {font-style:normal;}
input.radio {width:13px; height:13px; vertical-align:middle;}
a {text-decoration:none; color:#5d5d5d; }
a:hover {color:#fd8900;}
address,em,i {font-style:normal;}
.hdn, legend{font-size:0; height:0; overflow:hidden; position:absolute;visibility:hidden; width:0; line-height:0;}
table caption.hdn{font-size:0; height:0; overflow:hidden; position:static;visibility:hidden; width:0; line-height:0;}
table {border-spacing:0;border-collapse:collapse;}
caption, legend { display: none; }

/*  skipnavi */
#skilNavi a.skipBtn {display:block; height:0; width:100%; position:absolute; text-align:center; top:0; left:0; overflow:hidden;}
#skilNavi a.skipBtn:focus, #skilNavi a.skipBtn:active  {display:block; position:relative; color:white; font-weight:bold; height:20px; background:black;}

#wrap{width:100%;height:100%;position:relative;background:#f1f1f1;}
#animated{display:none;text-align:center;position:absolute;top:43%;left:45%;width:100px;height:100px;}
.btn_close{display:block;width:15px;height:15px;position:absolute;right:0;background:url(../images/common/btn_close.png) no-repeat;z-index:100;border-radius:15px;}

/********************************************* 
******
******           header 
******
/*********************************************/
#header{width:1000px;height:auto;position:relative;margin:0 auto;padding-top:2%;}
#header h1{text-align:center;width:160px;height:50px;margin:50px auto 0;background:url(../images/common/logo.png) 0 50% no-repeat;position:relative;}
#header h1 a{display:block;width:100%;height:100%;}
#header h1 .start01{position:absolute;top:35px;left:30px;}
#header h1 .start02{position:absolute;top:15px;left:50px;}
#header h1 .start03{position:absolute;top:5px;left:80px;}
#header h1 .start04{position:absolute;top:45px;left:35px;}
#header h1 .start05{position:absolute;top:40px;left:67px;}

/********************************************* 
******
******           container 
******
/*********************************************/
#container{width:1000px;height:auto;position:relative;margin:0 auto;padding-top:50px;}

#menu{width:1000px;height:500px;position:relative;overflow:hidden;}
#menu:after{content:" ";clear:both;display:block;}
#menu .menuList{width:320px;height:500px;margin-left:15px;position:relative;float:left;}/* overflow:hidden; */
#menu .menuList:first-child{margin-left:0px;}

#menu .menuList .slideBox{width:320px;height:490px;position:absolute;top:0;left:0;z-index:20;}
#menu .menuList .slideBox a{display:block;width:320px;height:240px;padding-top:250px;position:absolute;top:0;left:0;text-align:center;}
#menu .menuList .arrow{background:url(../images/common/arrow.png) 50% 100% no-repeat;}

#menu .menuList .cont{width:320px;height:400px;padding-top:90px;background:#fff;position:relative;z-index:10;float:left;box-shadow: 5px 5px 10px #666;margin-bottom:10px;}
#menu .menuList .cont .contList{width:100%;padding-top:100px;font-size:18px;text-align:center;font-family: 'Gloria Hallelujah', cursive;}
#menu .menuList .cont a.ShowCont{display:block;width:100px;height:30px;text-align:center;position:absolute;bottom:50px;left:100px;background:#a7a7a7;border:1px solid #888;border-radius:10px;line-height:30px;color:#fff;font-weight:bold;font-size:14px;}
#menu .menuList .cont p{visibility:hidden;}

#menu .menuList .detail{width:600px;height:490px;background:#fff;float:left;margin-left:20px;border-radius: 15px 15px 15px 15px;box-shadow: 5px 5px 10px #666;}

/********************************************* 
******
******           footer 
******
/*********************************************/
#footer{text-align:center;margin-top:50px;}

/********************************************* 
******
******           common end
******
/*********************************************/


/********************************************* 
******
******           About
******
/*********************************************/
#about .slideBox{background:url(../images/common/back_about.png) no-repeat;}
#about .detail{position:relative;}
#about .btn_close{border-radius:0 15px 0 0;right:-1px;}

.profile_cont{width:565px;height:auto;position:relative;margin:30px auto 0;}
.profile_cont img{position:relative;float:left;margin-top:40px;}
.profile_cont .info{width:400px;height:auto;position:relative;float:left;}
.profile_cont .info .name{width:187px;height:25px;position:relative;background:url(../images/about/name_bar.png) bottom no-repeat;color:#000;font-size:17px;font-weight:bold;line-height:20px;text-align:center;}
.profile_cont .info .infoTxt{padding-left:25px;color:#000;font-size:12px;white-space:pre-wrap;;line-height:20px;}
.profile_cont .info .infoTxt strong{font-size:13px;font-weight:bold;}
.profile_cont .info .infoTxt img{margin-top:15px;}
.profile_cont .introduce strong{font-size:13px;font-weight:bold;color:#000;}

/********************************************* 
******
******           portfolio 
******
/*********************************************/
#menu #portfolio .detail{width:1000px;}
#project{display:none;}
#portfolio .slideBox{background:url(../images/common/back_portfolio.png) no-repeat;}
#portfolio .thumBox{width:500px;height:430px;padding:35px 25px;float:left;background:#979797;position:relative;border-radius:15px 0 0 15px;}
.thumBox ul{width:500px;height:180px;;margin-bottom:25px;}
.thumBox ul li{width:150px;height:180px;float:left;margin-left:20px;}
.thumBox ul li:first-child{margin-left:0;}
.thumBox ul li a{display:block;color:#fff;}
.thumBox ul li img{width:140px;height:110px;border:1px solid #999;border-radius:10px;}
.thumBox ul li{text-align:center;white-space:pre-line;}
.thumBox .thum{display:none;}
.thumBox .thum:first-child{display:block;}
/*.thumBox .thum2,.thumBox .thum3{display:none;}*/

#portfolio .contentBox{width:380px;height:535px;padding:40px 25px 25px 25px;float:left;background:#fff;position:relative;z-index:50;}
.contentBox .popRolling{width:300px;height:auto;margin:0 auto;overflow:hidden;}
.contentBox .popRolling img{width:300px;}
.contentBox .loading{position:absolute;top:30%;left:38%;}
.contentBox .warning{width:380px;position:absolute;top:35%;text-align:center;font-size:13px;font-weight:bold;}
.contentBox table{width:378px;height:auto;table-layout:fixed;margin-top:20px;}
.contentBox table th{width:138px;padding:5px 0;border:1px solid #000;text-align:center;}
.contentBox table td{width:219px;padding:5px 0 5px 20px;border:1px solid #000;}

#paging{text-align:center;position:absolute;bottom:20px;width:500px;}
#paging a{color:#fff;}
#paging a:hover{color:#fff;}
#paging a.selected{font-weight:bold;font-size:12px;}
#paging a.selected:hover{color:#fff;cursor:default;}

/********************************************* 
******
******           contact 
******
/*********************************************/
#contact .slideBox{background:url(../images/common/back_contact.png) no-repeat;}
#layer_bg{display:none;width:100%;height:100%;position:absolute;top:0;left:0;background:#000;opacity:0.8;z-index:100;}
#ctctBox{display:none;width:450px;height:200px;padding:25px;position:fixed;top:50%;left:50%;margin-top:-250px;margin-left:-250px;background:#fff;z-index:110;border-radius: 15px 15px 15px 15px;}
#choice{width:85px;height:20px;background:url(../images/contact/choice.png) no-repeat;padding-left:25px;font-size:17px;font-weight:bold;}
#ctctBox .btn_close{top:0px;right:-1px;border-radius: 0 15px 0 0;}
#selectBox{width:450px;height:120px;background:#eee;margin-top:20px;position:relative;padding-top:10px;border-radius: 15px 15px 15px 15px;}
#selectBox ul{width:100%;height:auto;}
#selectBox li{width:435px;height:37px;position:relative;margin-left:30px;}
#selectBox li.facebook{background:url(../images/contact/facebook.png) no-repeat;}
#selectBox li.mail{background:url(../images/contact/mail.png) no-repeat;}
#selectBox li.tel{background:url(../images/contact/tel.png) no-repeat;}
#selectBox li a{display:block;width:400px;height:100%;padding-left:35px;color:#515151;font-size:20px;font-weight:bold;line-height:37px;}
#bul_arrow{position:absolute;top:85px;left:35px;}
.box_contact_txt{display:none;}
.contact_txt{width:380px;height:180px;background:#eee;margin-top:15px;padding:20px 35px;position:relative;border-radius: 15px 15px 15px 15px;}
.contact_txt dl:after{content:"";clear:both;display:block;}
.contact_txt dt{width:80px;height:30px;color:#101010;font-size:15px;font-weight:bold;float:left;}
.contact_txt dd{width:300px;min-height:30px;float:right;}
#nttSj{width:100%;}
#nttCn{width:100%;min-height:150px;resize:none;overflow-y:scroll;font-size:13px;}
#btn_send{display:block;width:80px;height:20px;background:#a7a7a7;color:#fff;font-weight:bold;margin:20px auto 0;line-height:20px;text-align:center;border-radius: 15px 15px 15px 15px;}
#btn_send:hover{color:#eaeaea;background:#838383;}